/* ---------------
>> Desktop Size
--------------- */

/* [0] Global Style */
body{
    background-color: #E9E9E7;
    color: #565962;
    font-family: 'Fredoka', sans-serif;
    padding-top: 50px;
}

h1{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

p{
    font-size: 18px;
    color:#7C7F88;
}

/* [1] Navigation Layout & Components */
nav{
    position: fixed;
    top: 25px; left: 0; right: 0;
    
    margin: 0 auto;
    max-width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background-color: #565962;
}

    nav a{
        text-decoration: none;
        color:#E9E9E7
    }

    .nav-container{
        display: flex;
        gap: 20px;
        padding: 10px 20px;
    }

/* [2] Section Layout & Components*/
section{
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px; /* temporary */
}

    /* [2.1] Experience */
    .experience{
        margin-bottom: 50px;
    }

    .experience-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .experience-title h3{
        margin: 0;
    }

    .experience-title .date{
        font-size: 14px;
        font-weight: 400;
        color: #7C7F88;
    }

    /* [2.2] Projects */
    #projects ul{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 0;
        list-style: none;
    }

    #projects li:after{
        content: "•";
        margin: 0 10px;
    }

    #projects li:last-child:after{
        content: "";
    }

    /* [2.3] Skills */
    #skills ul{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 0;
        list-style: none;
    }

    #skills li:after{
        content: "•";
        margin: 0 10px;
    }

    #skills li:last-child:after{
        content: "";
    }

    /* [2.4] Connect */
    #connect{
        border-top: 1px solid #7C7F88;
        text-align: right;
        align-items: center;
    }

    #connect h2{
        font-size: 18px;
    }

    .connect-links{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        margin-top: 20px;
        gap: 20px
    }

    .connect-links .portfolio img{
        width: 40px;
    }

    .connect-links img{
        width: 30px;
        height: auto;
    }

    .connect-links .portfolio{
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
    }

    .social-links{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
    }

    /* [2.5] Message Form */
    #message-form{
        border-top: 1px solid #7C7F88;
    }

    #message-form form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    #message-form button{
        background-color: #7a9c81;
        border: none;
        border-radius: 3px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 400;
        padding: 5px;
        cursor: pointer;
    }

    #message-form input, #message-form textarea{
        padding: 5px;
    }

    /* [2.6] Message List */
    #messages button{
        margin-left: 10px;
        background-color: #c48585;
        border: none;
        border-radius: 3px;
        font-family: 'Fredoka', sans-serif;
        font-weight: 400;
        padding: 5px;
        cursor: pointer;
    }

    #messages ul{
        list-style: none;
        padding: 0;
    }

    #messages li{
        margin-bottom: 20px;
    }

/* ---------------
>> Tablet/iPad Size
--------------- */

@media(max-width: 900px) {
    
    h1{font-size: 60px;}
    h2{font-size: 36px;}
    p{font-size: 16px;}

    nav{
        width: 85%;
        padding: 8px 0;
    }

    nav a{font-size: 0.9rem;}


}

/* ---------------
>> Mobile Size
--------------- */

@media(max-width: 600px) {
    
    h1{font-size: 48px;}
    h2{font-size: 32px;}
    h3{font-size: 20px;}
    p{font-size: 16px;}

    nav{
        width: 95%;
        padding: 4px 0;
    }
    
    nav a{font-size: 0.9rem}
}