body{
    background-color: #E9E9E7;
    color: #565962;
    font-family: 'Fredoka', sans-serif;
    padding-top: 150px;
}

h1{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    
}

h2{
    font-size: 36px;
    font-weight: 500;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

p{
    color:#7C7F88;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 5px 0;
    background-color: #565962;
}

nav a{
    text-decoration: none;
    color:#E9E9E7
}

.nav-container{
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

section{
    margin-bottom: 50px;
    padding: 25px; /* temporary */
    padding-left: 100px; /* temporary */
}

#experience{
    max-width: 1000px;
}

.experience{
    margin-bottom: 50px;
}

.experience-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experience-title h3{
    margin: 0;
}

.experience-title .date{
    font-size: 14px;
    font-weight: 400;
    color: #7C7F88;
}

#connect{
    text-align: center;
}

.connect-links{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px
}

.connect-links img{
    width: 30px;
    height: auto;
}